.post__text {
  font-family: PTSans Bold, "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.post__desk {
  font-size: 14px;
  line-height: 24px;
}

.post__btn-likes {
  border: none;
  background-color: $base-color;
}

.post__number-likes {
  font-family: PTSans Bold, "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
