.specific {
  text-align: center;
}

.specific__slogan {
  width: 255px;
  margin-left: 10px;
  font-family: "PTSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.specific__text {
  width: 250px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 26px;

}
